* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    font-size: 1em;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
}

span {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
}

header {
    position: absolute;
    width: 100%;
    height: 100px;
}

#lyric-logo {
    background: url(../img/Lyric-logo.png);
    width: 126px;
    height: 91px;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    z-index: 999;
}

#navi-text {
    position: absolute;
    right: 110px;
    margin-top: 50px;
    z-index: 999;
}

@keyframes navi-anime-hover {
    from {
        left: -100%;
    }
    to {
        left:0;
    }
}

.navi {
    margin: 20px;
    margin-top: 0;
    display: inline-block;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    overflow: hidden;
    position: relative;
    height:30px;
}


#navi1{
	width:75px;
	overflow: hidden;
}

#navi2{
	width:76px;
	overflow: hidden;
}
#navi3{
	width:90px;
	overflow: hidden;
}
#navi4{
	width:51px;
	overflow: hidden;
}

.underline{
	height:2px;
	width:100%;
	background-color: #e69c9d;
	position: absolute;
	bottom: 0;
}

#navi1 div{
    left:-75px;
}

#navi2 div{
    left:-76px;
}

#navi3 div{
    left:-90px;
}

#navi4 div{
    left:-51px;
}

#menu-icon {
    position: fixed;
    top: 53px;
    right: 40px;
    width: 35px;
    height: 18px;
    z-index: 9999;
}

#menu-icon div {
    height: 1px;
    width: 35px;
    background-color: #5f5f5f;
    margin-bottom: 8px;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-wrap {
    position: absolute;
    bottom: 60px;
    left: -20px;
}

#video-wrap2 {
    display: none;
}

#source {
    display: none;
}

#type-text {
    font-family: brandon-grotesque, sans-serif;
    color: #5f576e;
    position: absolute;
    bottom: 20%;
    left: 9%;
    font-size: 1.9em;
    width: 82%;
}

#output-wrap {
    float: left;
}

#begin-text {
    font-size: 1.1em;
    position: absolute;
    right: 0;
}

label {
    color: #e69c9d;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -17px;
    width: 33px;
    height: 32px;
    background-image: url(../img/index-arrow.png);
    background-size: contain;
    cursor: pointer;
	z-index:999;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

#begin-text{
	display: none;
}

.fadeInUp{
	animation: fadeInUp 1.0s;
}

#p-wrap{
    position: absolute;
    height:100%;
    width:100%;
    overflow:hidden;
    display: none;
}

#portfolio-content{
    bottom:0;
    position: absolute;
}

.p-col div{
    float:left;
    width:240px;
    height:240px;
    padding:0;
    margin:0;
    display:none;
}

#p1{
    background: #2f3058 url(../img/p1.png) no-repeat center;
}

#p2{
    background: #426a97 url(../img/p2.png) no-repeat center;
}

#p3{
    background: url(../img/p3.png) no-repeat center;
}

#p4{
    background: #6f7e97 url(../img/p4.png) no-repeat center;
}

#p5{
    background: url(../img/p5.png) no-repeat center;
}

#p6{
    background: #3d4259 url(../img/p6.png) no-repeat center;
}

#p7{
    background: url(../img/p7.png) no-repeat center;
}

#p8{
    background: #d1ccb8 url(../img/p8.png) no-repeat center;
}

#p9{
    background: #2b2b39 url(../img/p9.png) no-repeat center;
}

#p10{
    background: url(../img/p10.png) no-repeat center;
}

#p11{
    background: url(../img/p11.png) no-repeat center;
}

#p12{
    background: #8d97b5 url(../img/p12.png) no-repeat center;
}


.mask1{
    background-color: #5f576e;
    width: 600px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    z-index:999;
    left:-600px;
}

.mask2{
    background-color: #5f576e;
    width: 200px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    z-index:999;
    left:-400px;
}

.ph-text{
    position: absolute;
    z-index: 999;
}

.p-col div h2{
    border-bottom: 3px solid #e69c9d;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6em;
    color:#fff;
    background: transparent;
    margin: 0px 40px 0px 40px;
    margin-top:70px;
    padding-bottom: 15px;
    transform: scale(0);
    transition: all 0.3s;
    opacity: 0;
    text-align: center;
}

.p-col div p {
    color: #e7d9c7;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
    text-align: center;
    margin-top: 15px;
}

.p-col div:hover h2{
    transform: scale(1);
    opacity: 1;
}

.p-col div:hover p{
    transform: scale(1);
    opacity: 1;
}

.p-mask{
    background-color: #000;
    opacity:0;
    transition: all 0.3s ease-in 0.4s;
    position: absolute;
}

.p-col div:hover .p-mask{
    opacity:0.5; 
    transition-delay: 0s;
}
